<%#= form_with model: [@task] do |f| %>
<%= form_with model: [@category, @task], local: true do |f| %>
    <p >
        <strong><%= f.label :name %></strong>
        <%= f.text_field :name %>
    </p>
    <p class="form-group mt-2">

    <strong><%= f.label :description, "Description" %></strong>
    <%= f.text_area :description, placeholder: "Task description" %>
    </p>
    <p >
        <%= f.submit "Update Task" %>
    </p>
<% end %>
