<%#= form_with model: [@task] do |f| %>
<%= form_with model: [@category, @task], local: true do |f| %>
    <div >
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <div class="form-group mt-2">
    <%= f.label :description, "Content" %>
    <%= f.text_area :description, placeholder: "Task description" %>
    </div>
    <div >
        <%= f.submit "Update Task" %>
    <%#= link_to "Update Task", category_task_path %>
    </div>
<% end %>
