<h1>Tasks</h1>
<%=  @task.name %>
<% @task.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <!-- <td><%= task.status %></td> -->
    <td><%= task.schedule %></td>
    <td><%= task.id %></td>
    <td><%= link_to 'Show', [@category, task] %></td> 
    <td><%= link_to "Edit", [:edit, @category, task] %></td> 
    <td><%= link_to 'Destroy', [@category, task] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
  


