<h2 class="ms-4 mt-4">Tasks</h2>
<br>

<div class="d-flex justify-content-center">

<% @task.each do |task| %>
    <div class="card card-width-18 mx-2">
      <div class="card-body">
        <div class="card-title"><%= task.name %></div>
        <div class="card-text"><%= task.description %></div>
        <div class="card-text"><%= task.schedule %></div>
        <%= link_to 'Show', [@category, task],class: "btn btn-outline-primary btn-sm"  %>
        <%= link_to "Edit", [:edit, @category, task], class: "btn btn-outline-secondary btn-sm"  %>
        <%= link_to 'Delete', [@category, task] , method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
      </div>
    </div>
<% end %>
  

</div>



