<h1>Task/index</h1>


<% @tasks.each do |task| %>
      <strong><%= task.name %></strong>
      <div><%= task.description %></div>
      <div><%= task.schedule %></div>
    <p>
      <%= link_to 'Show', [@category, task] %> |
      <%= link_to "Edit", [:edit, @category, task] %>
    </p>
<% end %>

<hr>

