<%= render "layouts/nav" %>
<p>
    <strong>Task:</strong>
    <%= @task.name %>
</p>

<p>
    <strong>Description:</strong>
    <%= @task.description %>
</p>

<%= link_to 'Back', @category %> |
<%= link_to 'Destroy', [@category, @task] , method: :delete, data: { confirm: 'Are you sure?' } %>