<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-signin mt-4">

    <label for="formControlInput" class="form-label"><%= form.label :category %></label>
    <%= form.text_field :category, class:"form-control", placeholder: 'Category name' %>

    <br>

    <label for="formControlInput" class="form-label"><%= form.label :content %></label>
    <%= form.text_field :content, class:"form-control", placeholder: 'Category name' %>

    <div class="d-flex justify-content-center" >
      <%= form.submit 'Save Category', class: "btn btn-primary mt-4"%>
    </div>
  </div>

<% end %>
