<div class="row g-0 sidebar">
  <div class="col-sm-6 col-md-10 width_full">
    <%= render "layouts/nav" %>
    <p id="notice" class="ms-4"><%= notice %></p>
    <h2 class="ms-4">Today's Tasks:</h2>
    <%= render 'tasks/task_today' %>
    </p>
  </div>

  <div class="col-6 col-md-1 category_padding width_full">
    <h3 class="my-4 category_title"><strong><u>Categories</u></strong></h3>
    <div class="container">
      <div class="d-flex justify-content-center">

        <div class="d-flex ">
          <div class="container category_below" >
            <% @categories.each do |category| %>
              <div class="card card-width-18 ms-4 my-2 category_side">
                <div class="card-body  ">
                  <strong class="card-title"><%= category.category.upcase %></strong>
                  <p class="card-text"><%= category.content.capitalize %></p>
                  <%= link_to 'Show', category, class: "btn btn-outline-primary btn-sm" %>

                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <br>

  <div class="d-flex justify-content-center"><%= link_to 'Add Category', new_category_path, class: "btn btn-primary ms-4 addcategorybtn" %></div>




  </div>
</div>