<%= render "layouts/nav" %>
<p id="notice"><%= notice %></p>
<h2>Today's Tasks:</h2>
<%= render 'tasks/task_today' %>
<h3>Categories</h3>
<div class="d-flex">
  <% @categories.each do |category| %>
    <div class="card card-width-18">
      <div class="card-body">
        <h5 class="card-title"><%= category.category %></h5>
        <p class="card-text"><%= category.content %></p>
        <%= link_to 'Show', category, class: "btn btn-outline-primary btn-sm" %>
      </div>
    </div>
  <% end %>
</div>
<br>
<%= link_to 'Add Category', new_category_path, class: "btn btn-primary" %>

