<%= render "layouts/nav" %>
<p id="notice" class="ms-4"><%= notice %></p>

<div class="d-flex justify-content-between">
  <div d-flex>
    <div class="ms-4 row">
      <label class="col-form-label"><h4>Category:</h4></label>
      <p class="col"><%= @category.category %></p>
    </div>
  
    <div class="ms-4 mb-1 row">
      <label class="col-form-label"><h4>Description</h4></h4></label>
      <div class="col"><%= @category.content %></div>
    </div>
  
  </div>
  <div class="form-field mx-4">
    <%= link_to 'Edit', edit_category_path(@category),class: "btn btn-outline-primary" %> 
    <%= link_to 'Back', categories_path,class: "btn btn-outline-secondary" %> 
    <%= link_to 'Delete', @category, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-outline-danger" %>
  </div>
</div>

<hr>

<%= render 'tasks/task', category: @category %>
<div class="d-flex justify-content-center">
  <%= link_to 'Add new task',  new_category_task_path(@category),class: "btn btn-primary ms-4 mt-4" %>

</div>
